PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/jobsensei?retryWrites=true&w=majority&appName=jobsensei
JWT_SECRET=replace-this-with-a-long-random-string
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=*
